.at-header {
    margin-top: 65px;
    height: 100%;
}

.lh-45 {
    line-height: 45px;
}

.main-menu {
}

.main-menu a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
}

.main-menu a.active {
    color: #78957E
}

.main-menu a:hover {
    color: #E29F28;
}

.h-100 {
    height: 100%;
}

.subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    color: white;
}

.mt-subtitle span {
    margin-top: 20vh;
}

.subtitle span {
    width: 80%;
    display: block;
}


.content {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}

.mt-content span {
    margin-top: 12px;
}

.content span {
    opacity: 65%;
}

.mt-subtitle {
    margin-top: 40px;
}

footer {
    margin-top: 20vh;
}

.logo {
    max-height: 45px;
}

footer .createdBy {
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: white;
}

footer .reasoning {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    opacity: 65%;
}

footer .links a {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    padding-bottom: 20px;
    padding-top:20px;
}
